button .preloader-wrapper.small {
  width: 24px;
  height: 24px;
}

.button--icon {
  padding-left: 1rem;
  padding-right: 1rem;
}

.button--icon.btn-floating{
  padding-left: 0;
}

.button--floating.button--icon {
  padding: 0;
}

.button-group .button {
  margin-left: 1rem;
}

.button-group .button:first-child {
  margin-left: 0;
}

.realize-modal .modal-footer .button-group {
  float: right;
}