.form .flash {
  margin: 1rem .75rem;
}

.form__button-group .button {
  margin-left: 1.5em;
}

.form__input-error {
  color: #F44336;
  position: absolute;
  top: 50px;
  left: 0.75rem;
  font-size: 0.8rem;
}

.form__input-group {
  clear: both;
}

.input-group__divider {
  clear: both;
}
