.grid__pagination {
  text-align: center;
}

.grid__pagination .pagination {
  display: inline-block;
}

.column--currency, .column--number, .column--datetime {
  white-space: nowrap;
}

.filter__button-group button {
  margin-left: 1.5em;
}

.filter__button-group .filter__button--clear {
  color: black;
}

.table-header .table-header__name.sortable {
  cursor: pointer;
}

.table-header .table-header__name.sortable.asc:after {
  content: ' \25B4';
}

.table-header .table-header__name.sortable.desc:after {
  content: ' \25BE';
}
