.wkm-modal{
  background-color: white;
  display: none;
  /*max-height: calc(100% - 100px)!important;*/
  position: fixed;
  top: 50%!important;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%)!important;
  /*width: 40%;*/
}
.wkm-modal .modal-header.with-title{
  background-color: #f2f2f2;
  padding: 5px 20px;
}
.modal-footer{
  overflow: hidden;
}