.table-header .table-header__name.sortable {
  cursor: pointer;
}

.table-header .table-header__name.sortable.asc:after {
  content: ' \25B4';
}

.table-header .table-header__name.sortable.desc:after {
  content: ' \25BE';
}

.table-cell--currency, .table-cell--number, .table-cell--datetime {
  white-space: nowrap;
}

.table-select {
  position: relative;
  top: 4px;
  left: 0.5rem;
}

.table-cell {
  position: relative;
}

.table-row:hover .table-actions {
  display: block;
}

.table-actions {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1;
  padding: 0.6rem;
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
  white-space: nowrap;
}

.table-actions > button, .table-actions > a {
  margin-right: 0.75rem;
}

.table-actions > button:last-child, .table-actions > a:last-child {
  margin-right: 0;
}