.input-autocomplete {}

.input-autocomplete__result {
  width: 100%;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1000;
  background-color: white;
  padding-top: 15px;
}

.input-autocomplete__search {
  padding: 0 15px;
}

.input-autocomplete__search > i {
  padding-top: 5px;
  font-size: 21px !important;
}

.input-autocomplete__search > input[type=text] {
  margin-bottom: 0;
  margin-left: 30px;
  height: 30px;
}

.input-autocomplete__clear-button {
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.input-autocomplete__action-buttons > a {
  display: block;
}

.input-autocomplete__action-buttons > a > i {
  float: none !important;
  line-height: 1.3rem;
  margin-left: 0.5rem;
  position: relative;
  top: 0.3rem;
}

.input-autocomplete__empty-message {
  font-size: 1.0rem;
  padding: 0.4rem 1rem 0.8rem 1rem;
}

.input-autocomplete__list {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
}

.input-autocomplete__option {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 10px 15px;
}

.input-autocomplete__option.active {
  background-color: #E3E3E3;
}

.input-autocomplete__option label {
  top: 0;
  left: 0;
  color: black;
  padding-left: 30px;
}