@import "../variables.scss";

.input-field {
  position: relative;
  min-height: 4rem;
}

.input-field button.prefix.input-datepicker__button {
  color: $button-raised-color;
}

.input-datepicker__button {
  padding: 0;
  right: 1rem;
  color: white !important;
}

.input-checkbox-group.align-horizontal p {
  float: left;
  margin-right: 1rem;

  & > label {
    width: 100%;
  }
}

.select-wrapper > input[type=text] {
  cursor: pointer;
}

.input-radio-group.align-horizontal p {
  float: left;
  margin-right: 1rem;

  & > label {
    width: 100%;
  }
}

.input-switch {
  height: 3rem;
  margin-bottom: 1.1rem;

  > label {
    height: 2rem;

    .lever {
      margin-right: 10px;
      margin-left: 15px;
    }
  }
}